<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    syntaxCheck="false"
    stopOnFailure="false"
    backupGlobals="false"
    processIsolation="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="../../../tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="scottbedard/oc-shop-plugin">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
    </php>
    <filter>
        <blacklist>
            <file>./Plugin.php</file>
            <directory>./updates</directory>
            <directory>./vendor</directory>
        </blacklist>
    </filter>
</phpunit>
