<?= Form::open() ?>
    <input type="hidden" name="_driver" value="<?= $driver ?>" />
    <div data-bedard-shop="driverconfig-form"></div>
<?= Form::close() ?>

<script data-bedard-shop="driverconfig-form" type="text/html">
    <?= $form ?>
</script>

<script>
    $(function() {
        $('[data-bedard-shop="driverconfig-form"]').mountDriverFormComponent({
            driver: '<?= $driver ?>',
            details: <?= json_encode($details) ?>,
            endpoint: '<?= Backend::url("bedard/shop/categories/reorder") ?>',
            lang: <?= $this->getLangJson([
                'form@backend::lang.form' => ['cancel', 'save', 'saving'],
            ]); ?>,
            token: '<?= csrf_token() ?>',
        });
    });
</script>
