<div data-bedard-shop="options-inventories-formwidget"></div>

<script>
    $(function() {
        $('[data-bedard-shop="options-inventories-formwidget"]').mountOptionsInventoriesComponent({
            inventories: <?= json_encode($inventories); ?>,
            inventoryValidation: '<?= Backend::url('bedard/shop/inventories/validate') ?>',
            lang: <?= $this->controller->getLangJson([
                'form@backend::lang.form' => ['cancel', 'create', 'save', 'saving'],
                'inventories@bedard.shop::lang.inventories',
                'options@bedard.shop::lang.options',
            ]); ?>,
            options: <?= json_encode($options); ?>,
            token: '<?= csrf_token() ?>',
            optionCreateValue: '<?= Backend::url('bedard/shop/options/createvalue') ?>',
            optionValidation: '<?= Backend::url('bedard/shop/options/validate') ?>',
        });
    });
</script>
