//
// Colors
//
$amber: #f39c12;
$blue: #2980b9;
$dark-gray: #4f5458;
$green: #27ae60;
$light-blue: #58B6F7;
$light-gray: #7f8c8d;
$orange: #d35400;
$purple: #8e44ad;
$red: #c0392b;
$slate: #34495e;
$teal: #16a085;

$colors: (
    "amber": $amber,
    "blue": $blue,
    "dark-gray": $dark-gray,
    "green": $green,
    "light-blue": $light-blue,
    "light-gray": $light-gray,
    "orange": $orange,
    "purple": $purple,
    "red": $red,
    "slate": $slate,
    "teal": $teal,
);
